{% extends "dnd_app/main.html" %}

{% block content %}
<h1>Student List</h1>
<table>
    <tr>
        <th>Character ID</th>
        <th>Character Name</th>
        <th>STR</th>
        <th>DEX</th>
        <th>CON</th>
        <th>INTE</th>
        <th>WIS</th>
        <th>CHA</th>
    </tr>
    {% for student in students %}
    <tr>
        <td>{{ character_class.character_id }}</td>
        <td>{{ character_class.character_name }}</td>
        <td>{{ character_class.STR}}</td>
        <td>{{ character_class.DEX}}</td>
        <td>{{ character_class.CON}}</td>
        <td>{{ character_class.INTE}}</td>
        <td>{{ character_class.WIS}}</td>
        <td>{{ character_class.CHA}}</td>
    </tr>
    {% endfor %}
</table>
{% endblock %}
