{% extends "dnd_app/main.html" %}

{% block content %}
<h1>Character List</h1>
<a href="{% url 'add_character' %}">Add New Character</a>
<table>
    <tr>
        <th>Character ID</th>
        <th>Character Name</th>
        <th>STR</th>
        <th>DEX</th>
        <th>CON</th>
        <th>INTE</th>
        <th>WIS</th>
        <th>CHA</th>
        <th>Race</th>
        <th>Background</th>
        <th>Class</th>
        <th>Subclass</th>
    </tr>
    {% for c in Characters %}
    <tr>
        <td>{{ c.character_id }}</td>
        <td>{{ c.character_name }}</td>
        <td>{{ c.STR }}</td>
        <td>{{ c.DEX }}</td>
        <td>{{ c.CON }}</td>
        <td>{{ c.INTE }}</td>
        <td>{{ c.WIS }}</td>
        <td>{{ c.CHA }}</td>
        <td>{{ c.race }}</td>
        <td>{{ c.background }}</td>
        <td>
            {% for cc in CharacterClasses %}
                {% if cc.character == c %}
                    {{ cc.character_class }}
                {% endif %}
            {% endfor %}
        </td>
        <td>
            {% for cc in CharacterClasses %}
                {% if cc.character == c %}
                    {{ cc.subclass }}
                {% endif %}
            {% endfor %}
        </td>
    </tr>
    {% endfor %}
</table>
{% endblock %}
